.text-center.flex.flex-row
  .image.h-fit.w-full
    = element.render :picture
  .m-24
    .text-4xl.text-title= element.render :title
    .text-2xl.text-description= element.render :subtitle
    .text-description= element.render :description