.title.font-black.xl:my-12.md:my-7.text-2xl.md:text-3xl.xl:text-4xl{class: title_color_class(element.element)}
  = element.render :title
.subtitle.text-baze.md:text-xl.xl:text-2xl{class: subtitle_color_class(element.element)}
  = element.render :subtitle
.description.text-baze.md:text-lg.xl:text-xl.xl:my-11.xl:mx-12.md:mx-10.md:my-7.mx-7.my-5{class: subtitle_color_class(element.element)}
  = element.render :description
.picture.image.h-fit.w-full
  = element.render :picture
