.grid.grid-cols-1.m-12
  .dark_blue
    .title
      = element.render :title
    .subtitle
      = element.render :subtitle
    .description
      = element.render :description
  .my-12 
    .picture.image.h-fit.w-full
      = element.render :picture

