.picture.image.h-fit.w-full
  = element.render :picture
.title.font-black.xl:my-12.md:my-7.text-2xl.md:text-3xl.xl:text-4xl{class: title_color_class(element.element)}
  = element.render :title
.subtitle{class: subtitle_color_class(element.element)}
  = element.render :subtitle
.description{class: subtitle_color_class(element.element)}
  = element.render :description

