.picture.image.h-fit.w-full
  .sm:mx-0.mx-14= element.render :picture
.title.font-black.xl:my-12.md:my-7.text-xl.md:text-2xl.xl:text-3xl{class: title_color_class(element.element)}
  = element.render :title
.subtitle.text-baze.md:text-lg.xl:text-xl{class: subtitle_color_class(element.element)}
  = element.render :subtitle
.description.text-sm.md:text-base.xl:text-lg.xl:my-11.xl:mx-12.md:mx-10.md:my-7.mx-7.my-5{class: subtitle_color_class(element.element)}
  = element.render :description

