- cache(section_intro) do
  = element_view_for(section_intro) do |element|
    .text-center
      .text-title= element.render :title
      .text-description 
        = element.render :subtitle
        = element.render :description
