- cache(section_intro) do
  = element_view_for(section_intro) do |element|
    .text-center
      .text-light_blue= element.render :title
      .text-dark_blue 
        = element.render :subtitle
        = element.render :description
